@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');



/* Personaliza a barra de rolagem inteira */
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

/* Personaliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
}

/* Personaliza a barra de rolagem em si */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.219);
    border: 2px solid white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);

}

body {
    height: 100vh;
    -webkit-user-select: none;
    /* Chrome, Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE */
    user-select: none;
    /* Standard */

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;

}

#game {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    padding-top: 0;
    box-sizing: border-box;
}

#target-color {
    border-radius: 10px 0 0 10px;
    border: 2px solid black;
    border-right: 0;
}

#paint-area {
    border-radius: 0 10px 10px 0;
    border: 2px solid black;
    border-left: 0;
}

#target-color,
#paint-area {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}


#target-color {
    background-color: #fff;
}

#paint-area {
    background-color: #fff;
}


.slider {
    width: 100%;
    margin-bottom: 0px;
}

#progress p {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 0px;
    font-size: large;
    font-weight: bold;
}

.doisblocos_cores {
    display: flex;
    margin-top: 30px;

}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 13px;
    border-radius: 5px;
    outline: none;
    border: 2px solid black;
    box-sizing: border-box;
}

/* Estilização do "thumb" do slider */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 30px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid black;
}

/* Estilização no Firefox */
input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
}

.slider-container label {
    font-size: small;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;

}

.slider-container:last-of-type {
    margin-bottom: 0;
}

#color-list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

    list-style-type: none;
    padding: 0;
    text-wrap: wrap;
    max-height: 105px;
    height: fit-content;
    overflow-y: auto;
}

#color-list li {
    text-wrap: nowrap;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    min-width: 90px;
    max-width: 120px;
    flex: 1;
    height: fit-content;
    cursor: pointer;
}

.sliderselista {
    display: flex;
    flex-direction: column;
}

/* start game -----------------------------------------------------------------------------------------------------------------------------------------------------*/

.logohuebind{
   margin-bottom: 20px;
    margin-top: 40px;
}

footer {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: small;
    color: #d0d0db;
}

#start-screen {
    width: 100%;
    width: fit-content;
    padding: 20px;
    padding-top: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
}

.start-screen-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#start-screen h1 {
    font-size: 2.5rem;
    color: black;
    margin-bottom: 15px;
}

button {
    font-family: "Titillium Web", sans-serif;
    border: 2px solid black;
    color: black;
    animation: changeBackgroundColor 10s infinite;
    /* Animação quando passar o mouse */
    padding: 15px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: bold;
}

button:hover {
    animation: changeBackgroundColor 1s infinite;
    /* Animação quando passar o mouse */

}

button:focus {
    outline: none;
    /* Remove o contorno padrão do foco */
}

/* Define a animação para a mudança de cor do fundo */
@keyframes changeBackgroundColor {
    0% {
        background-color: #ffcccc;
    }

    /* Começo (cor clara) */
    25% {
        background-color: #ffe600;
    }

    /* Cor intermediária */
    50% {
        background-color: #66ff66;
    }

    /* Cor intermediária */
    75% {
        background-color: #00b3e6;
    }

    /* Cor intermediária */
    100% {
        background-color: #ffcccc;
    }

    /* Volta à cor inicial */
}

/* Aplica a animação ao body quando o start-screen estiver visível */
body.change-bg {
    animation: changeBackgroundColor 10s infinite;
    /* Duração de 10s, com repetição infinita */
}

/* media ----------------------------------------------------------------------------------------------------------------------------------------------- */

@media (max-height: 500px) {

    #start-screen {
        border-radius: 0 0 10px 10px;
    }

    body {
        height: fit-content;
    }

    #target-color,
    #paint-area {
        height: 150px;
    }

    #color-list {
        flex-direction: column;
        margin-top: 22px;
        flex-wrap: nowrap;
        height: 105px;
        width: 100%;

        overflow-y: visible;
        overflow-x: hidden;
        justify-content: flex-start;
        box-sizing: border-box;

    }

    /* Personaliza a barra de rolagem em si */
    #color-list::-webkit-scrollbar-thumb {
        background: white;
    }

    #color-list::-webkit-scrollbar-thumb:hover {
        background: white;
    }

    /* Personaliza a barra de rolagem inteira */
    #color-list::-webkit-scrollbar {
        height: 0px;
        width: 0px;
    }

    #color-list li {
        align-content: center;
    }

    #sliders-container {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .sliderselista {
        flex-direction: row;
        gap: 20px;
    }

    #target-color {
        border-radius: 0 0 0 10px;
        border: 2px solid black;
        border-right: 0;
        border-top: 0;
    }

    #paint-area {
        border-radius: 0 0 10px 0;
        border: 2px solid black;
        border-left: 0;
        border-top: 0;
    }

    .doisblocos_cores {
        margin-top: 0px;
    }
}