@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

#game {
    text-align: center;
    width: 100%;
    max-width: 1200px;
}

#target-color,
#paint-area {
    width: 100%;
    height: 15vh;
    margin-bottom: 10px;
}

#target-color {
    border-radius: 10px 0 0 10px;
    border: 2px solid black;
    border-right: 0;
}

#paint-area {
    border-radius: 0 10px 10px 0;
    border: 2px solid black;
    border-left: 0;
}

#target-color {
    background-color: #fff;
}

#paint-area {
    background-color: #fff;
}

.slider-container {
    margin: 10px 0;
}

label, p {
    font-size: 1.5rem;
}

.slider {
    width: 100%;
}

#progress {
    margin-top: 20px;
}


.doisblocos_cores {
    display: flex;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    outline: none;
    border: 2px solid black;
}



/* Estilização do "thumb" do slider */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 30px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid black;
}

/* Estilização no Firefox */
input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4CAF50;
    border-radius: 50%;
    cursor: pointer;

}

.slider-container label {
    margin-bottom: 5px;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.slider-container:last-of-type {
    margin-bottom: 0;
}